.container{
  width:100%;
  min-width: 1347px;
  height: 768px;
  float: left;
  font-family: "Microsoft YaHei UI";
 }
.accordion {
  width:250px;
  height: 768px;
  float: left;
  background: #1e5598;
}
.right_padding{
  width: 85%;
  float: left;
  height: 768px;
  background: #F0f3fa;
}
.righttable{
  width: 98%;
  height: 768px;
  float: left;
  margin-top: 10px;
  margin-left: 10px;
  background: #FFFFFF;
}
.ipt-text{
  width:150px;
  float:left;
}
.ipt-text_wh{
  width:200px;
  margin-left: 50px;
  float:left;
}
.ipt-outline{
  width:120px;
  float:left;
}
.ipt-outline_wh{
  width:200px;
  float:left;
}
.search-btn{
  float: right;
  width:60px !important;
  height:30px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  outline:none;
  border: none;
  background: #4381e6;
}
.search-icon{
  float: left;
  margin-left: -1px;
}
.search-list{
  float: right;
  width: 60px !important;
  height: 30px;
  font-size: 14px;
  line-height: 24px;
  text-align: center;
  color: #FFFFFF;
  outline: none;
  border: none;
  background: #4381e6;
}
.select-time{
  float: left;
  width: 200px !important;
  height: 30px;
}
.select-time3{
  width: 200px !important;
  float:left;
  margin-left:85px;
}
.num-protext{
  float: left;
  margin-left: 75px;
  width: 60px;
  height: 30px;
  line-height: 30px;
}
.color_gary{
  height: 25px !important;
  line-height: 25px;
  font-size: 16px;
  background: #b7b7b7;
}
.table_border{
  width: 96%;
  float: left;
  margin-left: 2%;
  margin-top: 20px;
}
.icon_left{
  float: left;
  margin-top: -3px;
  margin-right: 10px;
}
.table th, .table td{
  padding: 0;
  line-height: 40px;
  text-align: center;
}
.table{
  margin-bottom:5px !important;
}
.table thead{
  height: 40px !important;
}
.table tbody tr td{
  font-size: 14px;
}
.table thead tr th{
  text-align: center;
  height: 40px !important;
  font-weight: 200;
}
.table tr {
  height: 40px !important;
}
.pagination {
  width:300px;
  float:right;
  display: inline-block;
  padding-left: 0;
  margin:0 0 5px 0;
  border-radius: 4px;
}
.pagination>li {
  display: inline;
}
.pagination>li>a, .pagination>li>span {
  position: relative;
  float: left;
  padding: 6px 12px;
  margin-left: -1px;
  line-height: 1.42857143;
  color: #333333;
  text-decoration: none;
  background-color: #fff;
  border: 1px solid #ddd;
}
.addpro{
  width:100%;
  float:left;
}
/*暂时隐藏*/
.newaddpro{
  float:right;
  width: 110px;
  height:30px;
  margin-top: 20px;
  margin-right: 2%;
  line-height: 24px;
  background: #4381e6;
  color: #ffffff;
  outline:none;
  border: none;
  display: none;
}
.newaddproai{
  float:right;
  width: 140px;
  height:30px;
  margin-top: 20px;
  margin-right: 2%;
  line-height: 24px;
  background: #4381e6;
  color: #ffffff;
  outline:none;
  border: none;
}
.page{
  width:100px;
  float:right;
}
/*遮罩层*/
#newaddproai {
  position: absolute;
  width: 580px;
  height: 600px;
  top: 1%;
  background: #fff;
  z-index: 150;
  display: none;
}
#newaddout {
  position: absolute;
  width: 580px;
  height: 600px;
  top: 1%;
  background: #fff;
  z-index: 150;
  display: none;
}
#loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.7);
  z-index: 100;
  display: none;
}
.addproaimange{
  width:100%;
  height: 50px;
  background: #4381e6;
  color:#1b1b1b;
  line-height: 50px;
}
.close{
  width: 20px;
  height:20px;
  float: right;
  color: #FFFFFF;
  margin-top:15px;
  margin-right:5px;
  font-size:18px;
  opacity: 1;
}
.addproaimange_text {
  float: left;
  margin-left: 20px;
  line-height: 50px;
  width: 85%;
  color: #FFFFFF;
  font-size: 16px;
}
.addproaimange_text_1{
  float: left;
  margin-left: 20px;
  line-height: 50px;
  width: 85%;
  color: #FFFFFF;
  font-size: 16px;
}
.padding_addpro{
  padding:0 20px;
}
.padding_top{
  width:100%;
  float:left;
  margin-top:10px;
  height: 30px;
  line-height: 24px;
}
.outlin_text{
  float: left;
  min-width: 100px;
  height: 30px;
  line-height: 24px;

}
.outlin_ipt{
  width: 60%;
  height: 30px;
  line-height: 24px;
}
.outlin_ipt_out{
  width: 60%;
  height: 30px;
  line-height: 24px;
}
.mange_time{
  width:100%;
  float: left;
  margin-top: 10px;
}
.time_begin{
  width:125px;
  float:left;
  height:25px;
  line-height: 25px;
}
.time_end{
  width: 125px;
  float:left;
  height: 25px;
  line-height: 25px;
}
.img_date{
  float: left;
  margin-left: 5px;
  margin-top:  3px;
  margin-right: 5px;
}
.asktimemange{
  width: 100%;
  float: left;
}
.btn_new ,.btn_new_out{
  width:60px !important;
  height: 30px;
  float: right;
  background: #4381e6;
  color: #FFFFFF;
  text-align: center;
  vertical-align: center;
  outline: none;
  border: none;

}
.tb-way{
  width: 100%;
  float: left;
  margin-top: 5px;
}
.phonerate{
  width: 100%;
  float: left;
}
.num_rate ,.num_minute{
  width:40px;
  float: left;
  margin-left:10px;
  margin-right: 10px;
}
.outphone{
  width: 100%;
  float: left;
}
.sel_list{
  float: left;
  margin-left: 5px;
}
.outlinemange{
  width: 100%;
  float: left;
}
.ipt_outlist{
  float: right;
  width: 125px;
  height: 30px;
  color: #FFFFFF;
  text-align: center;
  background: #4381e6;
  outline: none;
  border: none;
}
.addprobtn{
  width: 180px;
  float: left;
  margin-left: 33%;
}
.addprobtn_in{
  width: 200px;
  float: left;
  margin-top: 10%;
  margin-left: 22%;
 }
.addprobtn_addman{
  width: 230px;
  float: left;
  margin-left: 20%;
  position: absolute;
  bottom: 30px;
 }
.addprobtn_addoutlist ,.addprobtn_addsell{
  width: 100%;
  float: right;
  position: absolute;
  bottom: 20px;
 }
.addprobtn_in_list{
  width: 200px;
  float: left;
  position: absolute;
  margin-left: 38%;
  bottom: 30px;
}
.content_div{
  width: 100%;
  float: left;
}

.ipt_ready_addoutlist ,.ipt_cancel_addoutlist{
  width: 60px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  background: #4381e6;
  outline: none;
  border: none;
  margin-left: 20px;
}

.ipt_ready_outphone ,.ipt_cancel_outphone{
  width: 60px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  background: #4381e6;
  outline: none;
  border: none;
  margin-left: 20px;
}


/*统一确定按钮样式*/
.ipt_ready_in ,.ipt_ready_addman ,.ipt_ready_addsell ,.ipt_ready_out ,.ipt_ready ,.ipt_ready_long {
  width: 60px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  background: #4381e6;
  outline: none;
  border: none;
  margin-left: 20px;
}
/*统一关闭按钮*/
.ipt_cancel_in ,.ipt_cancel_addman ,.ipt_cancel_addsell ,.ipt_cancel_out ,.ipt_cancel ,.ipt_cancel_long{
  width: 60px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  text-align: center;
  background: #b7b7b7;
  outline: none;
  border: none;
  margin-left: 20px;
}
.ipt_cancel_list ,.ipt_cancel_list_fin{
  width: 60px !important;
  height: 30px;
  float: right;
  color: #FFFFFF;
  margin-right: 5% ;
  line-height: 24px;
  text-align: center;
  background: #b7b7b7;
  outline: none;
  border: none;
}
.addpro_foot{
  width: 100%;
  height: 25px;
  position: absolute;
  bottom: 0;
  background: #dddddd;
  border-top: 1px solid #333333;
}
.add_time{
  position: absolute;
  width: 445px;
  height: 315px;
  top: 15%;
  background: #ffffff;
  z-index: 151;
  display: none;
}
.add_time_out {
  position: absolute;
  width: 445px;
  height: 315px;
  top: 15%;
  background: #ffffff;
  border: 1px solid #333333;
  z-index: 151;
  display: none;
}
.add_manlist{
  position: absolute;
  width: 450px;
  height: 400px;
  top: 15%;
  background: #ffffff;
  border: 1px solid #333333;
  z-index: 152;
  display: none;
}
.top_gray{
  width: 100%;
  height: 50px;
  background: #4381e6;
}
.content{
  width: 80%;
  margin: 25px auto;
}
.content1{
  width: 90%;
  margin: 12px auto;
}
.time_text{
  width: 20%;
  float: left;
  height: 30px;
  line-height: 24px;
}
.begin_time_in{
  float: left;

}
.datapng{
  float: left;
  margin-left: 5px;
  margin-top: 4px;
}
.inonerlist{
  position: absolute;
  width: 760px;
  height: 570px;
  top: 7%;
  float: left;
  background: #ffffff;
  border: 1px solid #333333;
  z-index: 151;
  display: none;
}
.inonerlist_content{
  width: 87%;
  margin: 0 auto;
}
.content_oner{
  width: 100%;
  float: left;
  margin-top: 5%;
}
.ipt_oner{
  width: 138px;
  height: 26px;
  line-height: 26px;
  float: left;
  margin-right: 15px;
}
.sel_oner{
  width: 200px;
  height: 30px;
  float:left;
  margin-right: 15px;
}
.search_oner{
  width:60px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  float: right;
  background: #4381e6;
  outline: none;
  border: none;
}
.inlist{
  width: 100%;
  float: left;
}
.inlist_ipt{
  width: 215px;
  height: 25px;
  line-height: 25px;
  float: left;
}
.inlist_img{
  float:left;
  margin-left: 5px;
  margin-top: 5px;
  cursor: pointer !important;
}
.btn_in{
  width:35px !important;
  float: left;
  margin-left: -30px;
  margin-right: 10px;
  background: #fff;
  outline: none;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  border: 1px solid #333333;
  font-size: 0;
  cursor: pointer;
}
.btn_in_d{
  width: 60px !important;
  height: 30px;
  line-height: 24px;
  float: left;
  color: #FFFFFF;
  margin-right: 10px;
  background: #b7b7b7;
  outline: none;
  border: none;
  cursor: pointer;
}
.btn_list_down{
  width: 115px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  float: left;
  margin-left: 10px;
  margin-right: 10px;
  background: #b7b7b7;
  outline: none;
  border: none;
}
.btn_list{
  width: 90px !important;
  height: 30px;
  line-height: 24px;
  color: #FFFFFF;
  float: left;
  background: #b7b7b7;
  outline: none;
  border: none;
}
.add_man{
  width: 90px !important;
  height: 30px;
  line-height: 24px;
  float: right;
  background: #b7b7b7;
  color: #FFFFFF;
  outline: none;
  border: none;
}
.add_{
  float: right;
  margin-right: -17px;
  margin-top: 9px;
}
.add_dr{
  float: left;
  margin-left: -67px;
  margin-top: 9px;
}
.add_dc{
  float: left;
  margin-left: -85px;
  margin-top: 9px;
}
.add_dn{
  float: left;
  margin-left: -122px;
  margin-top: 9px;
}
.addman_div{
  width:100%;
  float: left;
  margin-left: 25px;
}
.newmuban ,.newoutphonelist{
  width:115px;
  height: 30px;
  line-height: 24px;
  background: #fff;
  outline: none;
  border: 1px solid #333;
  border-radius:4px;
}
.red_star{
  color: #ff1118;
}
.newoutphonelist{
  margin-left: 30px;
}
.table_loca{
  margin-top:15px;
}
.look_list ,.edit_list ,.remove_list{
  width:30px;
  height: 20px;
  line-height: 14px;
  margin-left: 5px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  border:1px solid #333333;
}
.look_list_wait ,.edit_list_w ,.remove_list_wait{
  margin-left: 5px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  cursor: pointer;
}
.look_list_online ,.edit_list_online ,.remove_list_online{
  width:30px;
  height: 20px;
  line-height: 14px;
  margin-left: 5px;
  background: #fff;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  outline: none;
  border:1px solid #333333;
}
.play{
  cursor: pointer;
}
.handle{
  width:160px !important;
}
.handle_finish{
  width: 80px !important;
}
.handle_finish_play{
  width: 50px !important;
}
.add_sellmuban {
  position: absolute;
  width: 570px;
  height: 540px;
  top: 7%;
  background: #fff;
  z-index: 150;
  display: none;
}
.add_outlist {
  position: absolute;
  width: 725px;
  height: 540px;
  top: 7%;
  background: #fff;
  z-index: 150;
  display: none;
}
.add_list {
  position: absolute;
  width: 900px;
  height: 540px;
  top: 7%;
  background: #fff;
  z-index: 150;
  display: none;
}
.add_list_play {
  position: absolute;
  width: 600px;
  height: 520px;
  top: 10%;
  background: #fff;
  z-index: 150;
  display: none;
}
.add_listonline {
  position: absolute;
  width: 900px;
  height: 540px;
  top: 7%;
  background: #fff;
  z-index: 150;
  display: none;
}
.sell_tle{
  width:340px;
  height: 30px;
  float: left;
  line-height:24px;
}
.textarea_sell{
  width: 430px;
  height: 300px;
  resize: none;
}
.textarea_other{
  width: 530px;
  height: 120px;
  resize: none;
  margin-bottom: 10px;
}
.textarea_info{
  width: 225px;
  height: 60px;
  resize: none;

}
.top_text{
  width:100%;
  height: 30px;
  line-height: 24px;
  float: left;
  margin-bottom: 5px;
  margin-top: 5px;
}
.check_style{
  float: left;
  margin-top: 5px;
}
.choice{
  width: 160px;
  float: left;
  margin-left: 5px;
}
.choice_left{
  margin-left: 30px !important;
}
.cor{
  background-color: #4381e6 !important;
  color: #ffffff;
}
tr:nth-child(even){
  background: #eeeeee;
}
.three_list{
  width: 100%;
  float: left;
  height: 40px;
  line-height: 30px;
}
.list_text{
  float: left;
  font-size:16px;
  line-height: 30px;
}
.lise_lx{
  float: left;
  margin-left: 68px;
}
.list_num ,.list_name ,.list_style{
  width: 150px;
  height:40px;
  line-height: 30px;
  float: left;
  font-size:16px;
}
.img_add ,.img_edit ,.img_stop{
  cursor: pointer;
}
.play_mic{
  width: 480px;
  height: 40px;
  float: left;
  border:1px solid #333333;
}
.play_dialogue{
  width: 480px;
  height: 370px;
  float: left;
  margin-top: 15px;
  overflow: auto;
  border: 1px solid #333333;
}
.ul_style{
  width: 100%;
  height: 40px;
  float: left;
  background: #f0f3fa;
  border-bottom: 2px solid #4381e6;
}
#myTabContent{
  width: 100%;
  float: left;
}
#myTab li{
  cursor: pointer;
}
.wait_border{
  width: 100%;
  height: 100px;
  float: left;
}
.waitfinish_later ,.onlinefinish_later ,.finished_later ,.outonlinelist_later ,.outlinemuban_later{
  display: none;
  background: #FFFFFF;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.left_a{
  float: left;
  font-size: 16px;
  padding-top: 12px !important;
  color: #333333;
  border-top-left-radius: 5px;
}
.right_a{
  float: left;
  padding: 12px 5px 8px 5px !important;
  color: #FFFFFF;
  border-top-right-radius: 5px;
}
#editor{
  float: left;
}
.froala-element{
  height: 250px;
  overflow: auto;
}
.waitfinish ,.onlinefinish ,.finished ,.outonlinelist ,.outlinemuban{
  cursor: pointer;
  padding: 15px 30px;
}
.font_sm{
  margin-left: 50px;
  font-size: 16px;
  color: #FFFFFF;
}
.nav-tabs>li>a, .nav-pills>li>a{
  margin-right: 0 !important;
}
.icon_num{
  width: 20px;
  height: 20px;
  float: right;
  line-height: 20px !important;
  text-align: center;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  background: #ff6e5a;
  color: #FFFFFF;
}
.icon_y{
  float: right;
}
.font_big{
  font-size: 18px;
  color: #FFFFFF;
  padding: 15px 25px !important;
}
.accordion-toggle {
  background: #0c397c;
}
.inmid_content{
  width: 670px;
  height: 50px;
  margin: 35px auto;
}
.inmid_content_wh{
  width: 95%;
  height: 50px;
  margin: 35px auto;
}
.line_bg{
  width: 100%;
  height: 10px;
  float: left;
  background: #F0f3fa;
}
.outlin_span{
  float: left;
  height: 30px;
  line-height: 24px;
  margin-left: 0 !important;
}
.look_list_finish{
  cursor: pointer;
}
.blank_het{
  width: 100%;
  height: 10px;
  float: left;
}
.page_fy{
  width: 100%;
  float: left;
  margin-top: 20px;
}
